@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background: url(https://www.gorilla76.com/wp-content/uploads/2019/05/What-are-we-looking-01.jpg);
        background-size: 100%;">

    <div class="text-center">
        <h1 class="display-4">WEHIRE</h1>
        <p><a href="http://localhost:56922/OurTeam">Our Team</a></p>
    </div>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="border: 2px; width: 1100px; height: 800px">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://poetsandquantsforundergrads.com/wp-content/uploads/sites/3/2019/09/consulting.jpg" alt="Advising">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5e33ab078b6cf300071d7cd7%2F0x0.jpg" alt="Mock Interviews">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://elearningindustry.com/wp-content/uploads/2019/10/employee-training-programs-that-work.jpg" alt="Training">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <span class="badge badge-info"><h4 class="lead">About Us</h4></span>
        <p class="lead">
            <h6>WEHIRE is one of the world's leading professional recruitment consultancies, specializing in the placement of candidates in permanent, contract, temporary and interim positions with clients around the world.</h6>

        </p>
    </div>

    <div class="container-fluid">
        <span class="badge badge-info"><h4 class="lead">Industries We Specialize In</h4></span>
        <h6>
            <div class="row">
                <div class="col">Marketing</div>
                <div class="col">Finance and Accounting</div>
                <div class="w-100"></div>
                <div class="col">Sales</div>
                <div class="col">Engineering</div>
            </div>
    </div>
    </h6>
    </div>

    <center><span class="badge badge-info"><h4 class="lead">Testimonials</h4></span></center>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body" style="background-color: lightgray; color: black; padding: 05">
                    <p class="card-text">"I liked how they took a small issue seriously and addressed it personally over phone. Keep up the customer service."<h6>-Raghav Pant</h6></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body" style="background-color: lightgray; color: black; padding: 05">
                    <p class="card-text">"It was overall a good experience and I would like to thank the team for the quick response.I would like to use WEHIRE in the future." <h6>-Vineet Joshi </h6></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <span class="badge badge-info"><h4 class="lead">Apply at</h4></span></br>
                    <h6 style="padding-bottom:30px">career.services@wehire.com</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background-color: gray; color: white; padding: 05">
        <div class="row">
            <div class="col-sm">
                <h5 class="lead">
                    <span class="badge badge-info"><class ="lead">Adress:</span>
                </h5>
                <p>
                    <h6>
                        Clifton Avenue<br>
                        Cincinnati, OH 45220
                    </h6>
                </p>
            </div>
            <div class="col-sm">
                <h5 class="lead">
                    <span class="badge badge-info"><class ="lead">Contact Us:</span>
                </h5>
                <p>
                    <h6>
                        513-860-7963
                    </h6>
                </p>
            </div>
            <div class="col-sm">
                <h5 class="lead">
                    <span class="badge badge-info"><class ="lead">Services Offered:</span>
                </h5>
                <p class="lead">
                    <h6>
                        Fresher Jobs<br />
                        Vertical Hire<br />
                        Internships<br />
                        Mock Interviews<br />
                        Advisory<br />
                    </h6>
                </p>
            </div>
        </div>
    </div>
</body>