@page
@model RecruitCatmishrasv.Pages.Shared.OurTeamModel
@{
    ViewData["Title"] = "Home Page";
}

    <body style="background-color:lightskyblue;
        background-size: 100%;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Shivani Mishra</h5>
                    <img src="~/Images/Mypic.jpg" style= "border:2px; width:400px ; height:400px">
                    <p class="card-text">
                        MSIS Graduate<br />
                        Marketing Executive<br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Anirudh Nair</h5>
                    <img src="~/Images/Anirudh.jpg" style= "border:2px; width:400px ; height:400px">
                    <p class="card-text">
                        MSIS Graduate<br />
                        Human Resources<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hemant Deo</h5>
                <img src="~/Images/Hemant.jpg" style= "border:2px; width:400px ; height:400px">
                <p class="card-text">
                    Electrical Engineer<br />
                    Project Manager<br />
                </p>
            </div>
        </div>
    </div>
    </div>
    </body>



